<!DOCTYPE html>
<html>
<head>
  <title>Search by Campus</title>
</head>
<body>
<h1>Search the Student Body by Campus</h1>

<form action="/campus" method="GET">
  <input type="radio" name="campus" value="CHI">Chicago<br>
  <input type="radio" name="campus" value="SEA">Seattle<br>
  <input type="radio" name="campus" value="NYC">New York City<br>
  <input type="radio" name="campus" value="SF">San Francisco<br>
  <input type="radio" name="campus" value="SD">San Diego<br>
  <input type="submit" value="Select"/>
</form>


</body>
</html>